body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 71%, rgba(255,222,0,1) 100%, rgba(0,212,255,1) 100%);
   color: goldenrod;
}
a{
  color:goldenrod;
}
.nav-list{
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  display: flex; 
  justify-content: center; 
}


.nav-list li {
  margin-inline: 3rem; 
}

.nav-list li a {
  text-decoration: none; 
  color: inherit; 
}
.bio{
  font-size: 40px;
}